Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Realistic_Starter_VFX_Pack_Vol2
Content/InfinityBladeFireLands/Maps/Forge.umap
Content/STF/Pack03-LandscapePro/Maps/open_world_LSP_v2.umap
Content/STF/Pack03-LandscapePro/Maps/STF_Test1.umap
Content/TopDown/Maps/ForestMap.umap
Content/STF/Pack03-LandscapePro/Maps/Updates_BuiltData.uasset
Content/STF/Pack03-LandscapePro/Maps/TestMap_BuiltData.uasset
Content/STF/Pack03-LandscapePro/Maps/testmap_lsp_v2_BuiltData.uasset
/Content/STF
Content/TopDown/Maps/ForestMap.umap
